#!/usr/bin/env sh


printvol() {
	echo "{\"volume\": $(pamixer --get-volume), \"mute\": $(pamixer --get-mute)}"
}

printvol

pactl subscribe | grep --line-buffered "sink" | while read
do
	printvol
done
