encryption = "age"
[age]
    identity = "~/key.txt"
    recipient = "age1hgl4grm4nq22tv0cc0xr6ap7xs6x7hlapmdnlh4s6m2y730ylflsvqr8h6"

[merge]
    command = "nvim"
    args = ["-d", {{"\"{{ .Destination }}\", \"{{ .Source }}\", \"{{ .Target }}\""}}]
