#!/bin/sh

read -r -d '' deps << EOM
dunst
eww-wayland-git socat
qt5-styleplugins
tela-icon-theme-bin
orchis-theme
swaybg slurp grim wl-clipboard xdg-desktop-portal-hyprland-git

{{- if .nvidia}}
hyprland-nvidia-git
{{- else}}
hyprland-git
{{- end}}

neovim
python-pynvim
ripgrep

ttf-roboto-mono-nerd
ttf-material-design-icons-git 

python-rofi-git peerflix
polkit-kde-agent

python python-pip python-babel python-pygments colorpicker

alacritty

syslog-ng-openrc python-requests

vscode-css-languageserver
vscode-json-languageserver
lua-language-server
typescript-language-server
EOM

function checkInstalled() {
	package="$1"
	pacman -Qi "$package" >/dev/null 2>&1
}

function checkAllInstalled() {
	for package in $deps; do
		if ! checkInstalled "$package"; then
			echo "Missing: $package"
			return 1
		fi
	done
	return 0
}

if checkAllInstalled; then
	echo "All needed packages are already installed"
	exit 0
fi

set -x

paru --sudoloop --needed -S $deps


#libnotify bspwm hsetroot 
#copyq
# oreo-cursors-git
#nodejs
#npm
#the_silver_searcher
#xclip
#picom-git
#polybar terminus-font 
# python-dbus python-gobject 
#sxhkd qutebrowser
